<% if flash[:messages] %>
  <div id="error_explanation">
    <font color="red"><h2>There were some errors:</h2></font>
    <ul>
      <% flash[:messages].each do |message| %>
        <font color="red"><li><%= message %></li></font>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @duck do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label "Description" %>
    <%= f.text_field :description %>
    <br><br>
    Belongs to: <%= f.collection_select(:student_id, Student.all, :id, :name) %>
    <br><br>
    <%= f.submit %>
<% end %>